.pageBanner {
  margin-top: -250px;
  height: 78vh;
  background-attachment: fixed;
  background-size: contain;
  background-repeat: no-repeat;
  .right {
    vertical-align: center;
    justify-content: center;
    h1 {
      line-height: 1em;
    }
    h3 {
      font-family: inherit;
      font-weight: 600;
    }
  }
}

@media (max-width: 768px) {
  .pageBanner {
    margin-top: 0px;
    height: 40vh;
    background-attachment: scroll;
  } 
}
