.absolute {
  position: absolute;
}
.position-l0 {
  left: 0;
}
.position-l20 {
  left: 20px;
}
.position-r0 {
  right: 0;
}
.position-r20 {
  right: 20px;
}
.position-r30 {
  right: 30px;
}
.position-t0 {
  top: 0;
}
.position-t20 {
  top: 20px;
}
.position-t30 {
  top: 30px;
}
.position-b0 {
  bottom: 0;
}
.position-b20 {
  bottom: 20px;
}
.z-index-0 {
  z-index: 0;
}
