@import url("./styles/flex.css");
@import url("./styles/widths.css");
@import url("./styles/positions.css");
@import url("./styles/pages.css");
@import url("./styles/text.css");

@font-face {
  font-family: ATROX;
  src: url(./fonts/ATROX.TTF);
}
* {
  color: var(--textColor);
}
:root {
  --primaryColor: #f15a24;
  --secondaryColor: #b72133;
  --blackColor: #1d090b;
  --textColor: #4f4d4d;
  --whiteColor: #ffffff;
  --bg: #f8f8f8;
}
.blackColor {
  color: var(--blackColor);
}
.primaryColor {
  color: var(--primaryColor);
}
.secondaryColor {
  color: var(--secondaryColor);
}
.textColor {
  color: var(--textColor);
}
.whiteColor {
  color: var(--whiteColor);
}
.bg {
  background-color: var(--bg);
}
.bgPrimary {
  background-color: var(--primaryColor);
}
.bgSecondary {
  background-color: var(--secondaryColor);
}
.border-red {
  border: 1px solid red;
}
.bgWhite{ background-color: white; }
body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.far-btn {
  border: 1px solid white;
  padding: 5px 10px;
  color: white;
  background-color: transparent;
  transition: 0.5s;
}
.far-btn:hover {
  background-color: white;
  color: red;
}

/* Shadows */
.boxShadow {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 35px 0px;
}

.border-red{
  border: 2px solid red;
}

/* ------- Custom Classes -------- */
.x-small{ font-size: 12px; }
.button_1{
  background-color: var(--secondaryColor);
  color: var(--whiteColor);
  border: 2px solid var(--secondaryColor);
  transition: 0.5s;
  &:hover {
    border: 2px solid var(--secondaryColor);
    color: var(--secondaryColor);
    background-color: var(--whiteColor);
  }
}
/* ------- Custom Classes -------- */
